body {
  background-color: rgb(60, 66, 74);
  color: rgb(226, 226, 226);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 40%;
  margin: auto;
  border: 3px solid rgb(41, 46, 51);
  padding: 50px;
  margin-top: 2%;
  border-radius: 15px;
}

.date {
  margin-top: 50px;
  margin-bottom: 7%;
}

.date h4 {
  padding: 10px;
  color: rgb(175, 175, 175);
}

.form .input-group-prepend {
  background-color: rgb(41, 46, 51);
}

.form .form-control {
  background-color: rgb(41, 46, 51);
  border: none;
}

.form .form-control::placeholder {
  color: rgb(161, 161, 161);
}

.form .form-control input[type="text"] {
  color: rgb(161, 161, 161);
}

.form .input-group-text {
  background-color: rgb(41, 46, 51);
  border: none;
  color: rgb(161, 161, 161);
}
 
.form .input-group-text:focus {
  border: none;
}

.form .input-group-text:hover {
  border: none;
}

.preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: solid rgb(41, 46, 51);
  text-align: left;
}

.preview:hover {
  box-shadow: 3px 5px 7px rgba(0,0,0,0.1);
}

.preview h3 {
  font-size: 15px;
  color: rgb(226, 226, 226);
  margin-top: 10px;
}

.preview p {
  font-size: 12px;
  color: rgb(161, 161, 161);
}

.preview a {
  text-decoration: none !important;
}

.preview .checkbox input[type="checkbox"] {
  background-color: rgb(41, 46, 51);
  border: none;
}

.preview .checkbox input:focus {
  border: none;
}

.preview .checkbox input:hover {
  cursor: pointer;
}